/core/.phpunit.cache
/core/node_modules
/build
/hot
/storage
/core/storage/*.key
/core/vendor
/core/.env
/core/.env.backup
/core/.env.production
/core/.phpunit.result.cache
/core/Homestead.json
/core/Homestead.yaml
/core/auth.json
/core/npm-debug.log
/core/yarn-error.log
/.fleet
/.idea
/.vscode
/core/database/.DS_Store
/core/storage/.DS_Store
/core/tests/.DS_Store